.NavigationContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavigationNav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 40px;
}
.NavigationLogo__box{
    margin: 10px 40px;
    width: 40px;
    height: 80%;
    cursor: pointer;

}
.NavigationLogo__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Toggle{
    background-color: transparent;
    outline: none;
    border: none;
    color: #846916;
    cursor: pointer;
    font-family: "Cinzel";
    font-size: 14px;
    font-weight: 900;
}
.ToggleDark{
    background-color: transparent;
    outline: none;
    border: none;
    color: #b5b5b5;
    cursor: pointer;
    font-family: "Cinzel";
    font-size: 14px;
    font-weight: 900;
}