.Movie{
    padding: 100px 0;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
    & >*{
        flex: 1 1 50%;
    }
    @media only screen and(max-width: 1600px){
        width: 1000px;
    }
    @media only screen and(max-width: 1400px){
        width: 800px;
    }
    @media only screen and(max-width: 1200px){
        align-items: center;
        flex-direction: column;
        & >*{
            flex: 1 1 80%;
        }
    }
    &__imageBox{
        flex: 1 0 500px;
        width: 500px;
        height: 700px;
        position: relative;
        display: inline-block;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
            border-radius: 5px;
        }
        & div{
            z-index: 1;
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            transform: translate(30px, 30px);
            border-radius: 5px;
            border: 1px solid #535353
        }
        & h4{
            margin-top: 40px;
            color: #fff;
            font-family: Cinzel;

            & a{
                color: #6e5514;
                text-decoration: none;
            }
        }
    }
    &__Cast{
        display: flex;
        flex-wrap: wrap;
        &__Item{
            flex: 0 0 100px;
            padding: 5px;

        }
        & p{
                color: #fff;
                font-size: 10px;
                font-family: "Cinzel";
                font-weight: 400;

        }
        & img{
            width: 100%;
            object-fit: cover;
        }
    }

}
